* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  background-color: rgb(209, 238, 227);
}

#search-box {
  margin-top: 100px;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.countries__container {
  display: grid;
  justify-content: center;
}
.country__list {
  list-style: none;
  display: grid;
  gap: 20px;
}
.country__name {
  font-weight: 700;
  line-height: 1.1;
  font-size: 35px;
}

.country__list-item {
  font-weight: 700;
  line-height: 1.1;
  font-size: 24px;
}

.country__list-resp {
  font-weight: 400;
  line-height: 1.1;
  font-size: 22px;
}

.country__container {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.country__name-list {
  padding-left: 2%;
  font-weight: 400;
  line-height: 1.1;
  font-size: 22px;
}
